<a href="https://colab.research.google.com/github/raulbenitez/DAPR/blob/master/mpg_nonans_numerical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import seaborn as sns

mpg = sns.load_dataset("mpg")
mpg_nonans = mpg.dropna() # remove cars with missing values
mpg_nonans_num  = mpg_nonans.select_dtypes(include='number') # remove non-numerical colunms


mpg_nonans_num.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  model_year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70