In [1]:
import pandas as pd

In [2]:
dt = pd.DataFrame(
    [['x', 'n', 'n', 'k', 'V'],
     ['x', 'y', 'b', 'k', 'C'],
     ['b', 'w', 'b', 'n', 'C'],
     ['x', 'w', 'n', 'n', 'V']],
    columns=['atr1', 'atr2', 'atr3', 'atr4', 'class'])
dt

  atr1 atr2 atr3 atr4 class
0    x    n    n    k     V
1    x    y    b    k     C
2    b    w    b    n     C
3    x    w    n    n     V

In [3]:
tst = ['x', 'g', 'b', 'k']

### P(y)

In [4]:
dt['class'].value_counts()

C    2
V    2
Name: class, dtype: int64

### P(x=v|Y)

In [7]:
dt.groupby(['class','atr1']).count().rename(
    columns={'atr2':'num'}).iloc[:,:1]

            num
class atr1
C     b       1
      x       1
V     x       2

In [8]:
dt.groupby(['class','atr2']).count().rename(
    columns={'atr1':'num'}).iloc[:,:1]

            num
class atr2
C     w       1
      y       1
V     n       1
      w       1

In [9]:
dt.groupby(['class','atr3']).count().rename(
    columns={'atr1':'num'}).iloc[:,:1]

            num
class atr3
C     b       2
V     n       2

In [10]:
dt.groupby(['class','atr4']).count().rename(
    columns={'atr2':'num'}).iloc[:,:1]

            atr1
class atr4
C     k        1
      n        1
V     k        1
      n        1

### Classification

In [11]:
tst

['x', 'g', 'b', 'k']

#### P(tst|C)

In [12]:
# P(C) * P(atr1=x|C)* P(atr2=g|C)* P(atr3=b|C)* P(atr4=k|C)
0.5 * 0.5 * 0 * 1 * 0.5

0.0

#### P(tst|V)

In [14]:
# P(V) * P(atr1=x|V)* P(atr2=g|V)* P(atr3=b|V)* P(atr4=k|V)
0.5 * 1 * 0 * 0 * 0.5

0.0