In [1]:
import pandas as pd

In [2]:
dt = pd.DataFrame(
    [['x', 'n', 'n', 'k', 'V'],
     ['x', 'y', 'b', 'k', 'C'],
     ['b', 'w', 'b', 'n', 'C'],
     ['x', 'w', 'n', 'n', 'V']],
    columns=['atr1', 'atr2', 'atr3', 'atr4', 'class'])
dt

  atr1 atr2 atr3 atr4 class
0    x    n    n    k     V
1    x    y    b    k     C
2    b    w    b    n     C
3    x    w    n    n     V

In [3]:
tst = ['x', 'g', 'b', 'k']

## atr1

In [4]:
dt.groupby(['atr1','class']).count().rename(
    columns={'atr2':'num'}).iloc[:,:1]

            num
atr1 class
b    C        1
x    C        1
     V        2

In [5]:
# accuracy(atr1)
(1+2)/4

0.75

## atr2

In [6]:
dt.groupby(['atr2','class']).count().rename(
    columns={'atr1':'num'}).iloc[:,:1]

            num
atr2 class
n    V        1
w    C        1
     V        1
y    C        1

In [7]:
# accuracy(atr2)
(1+1+1)/4

0.75

## atr3

In [8]:
dt.groupby(['atr3','class']).count().rename(
    columns={'atr1':'num'}).iloc[:,:1]

            num
atr3 class
b    C        2
n    V        2

In [9]:
# accuracy(atr3)
(2+2)/4

1.0

## atr4

In [10]:
dt.groupby(['atr4','class']).count().rename(
    columns={'atr1':'num'}).iloc[:,:1]

            num
atr4 class
k    C        1
     V        1
n    C        1
     V        1

In [11]:
# accuracy(atr4)
(1+1)/4

0.5

In [12]:
from graphviz import Digraph

In [13]:
dot = Digraph(comment='Decision Tree')
dot.node('atr3')
dot.node('C')
dot.node('V')
dot.edge('atr3','C',label='b')
dot.edge('atr3','V',label='n')
dot.render()
dot

In [14]:
tst

['x', 'g', 'b', 'k']

### solution
`h(tst)='C'`