In [1]:
import pandas as pd

In [2]:
dt = pd.DataFrame(
    [['x', 'n', 'n', 'k', 'V'],
     ['x', 'y', 'b', 'k', 'C'],
     ['b', 'w', 'b', 'n', 'C'],
     ['x', 'w', 'n', 'n', 'V']],
    columns=['atr1', 'atr2', 'atr3', 'atr4', 'class'])
dt

  atr1 atr2 atr3 atr4 class
0    x    n    n    k     V
1    x    y    b    k     C
2    b    w    b    n     C
3    x    w    n    n     V

In [3]:
tst = ['x', 'g', 'b', 'k']