In [1]:
import pandas as pd

In [2]:
dt = pd.DataFrame(
    [[4.6, 3.2, 'Is'],
     [5.3, 3.7, 'Is'],
     [6.4, 3.2, 'Iv'],
     [6.9, 3.1, 'Iv']],
    columns=['atr1', 'atr2', 'class'])
dt

   atr1  atr2 class
0   4.6   3.2    Is
1   5.3   3.7    Is
2   6.4   3.2    Iv
3   6.9   3.1    Iv

In [3]:
tst = [5.9, 3.2]

## atr1

In [4]:
temp = dt[['atr1','class']].sort_values('atr1')

In [6]:
temp['cp'] = (temp['atr1']+temp.shift(1)['atr1'])/2
temp

   atr1 class    cp
0   4.6    Is   NaN
1   5.3    Is  4.95
2   6.4    Iv  5.85
3   6.9    Iv  6.65

In [7]:
# accuracy(4.95)
(1+2)/4

0.75

In [8]:
# accuracy(5.85)
(2+2)/4

1.0

In [9]:
# accuracy(6.65)
(2+1)/4

0.75

## atr2

In [10]:
temp = dt[['atr2','class']].sort_values('atr2')
temp['cp'] = (temp['atr2']+temp.shift(1)['atr2'])/2
temp

   atr2 class    cp
3   3.1    Iv   NaN
0   3.2    Is  3.15
2   3.2    Iv  3.20
1   3.7    Is  3.45

In [11]:
# accuracy(3.15)
(1+2)/4

0.75

In [12]:
# accuracy(3.20)
(1+1)/4

0.5

In [13]:
# accuracy(3.45)
(2+1)/4

0.75

## Best cutting point
### 5.85 of atr1

In [1]:
from graphviz import Digraph

In [3]:
dot = Digraph(comment='Decision Tree')
dot.node('Q',label='atr1<=>5.85')
dot.node('Is')
dot.node('Iv')
dot.edge('Q','Is',label='<')
dot.edge('Q','Iv',label='>')
dot.render()
dot