In [1]:
import pandas as pd

In [2]:
dt = pd.DataFrame(
    [[4.6, 3.2, 'Is'],
     [5.3, 3.7, 'Is'],
     [6.4, 3.2, 'Iv'],
     [6.9, 3.1, 'Iv']],
    columns=['atr1', 'atr2', 'class'])
dt

   atr1  atr2 class
0   4.6   3.2    Is
1   5.3   3.7    Is
2   6.4   3.2    Iv
3   6.9   3.1    Iv

In [3]:
tst = [5.9, 3.2]

### kNN

In [4]:
term = lambda x, y: (x - y)**2

In [5]:
ed = lambda v, w: sum([term(x,y) for x,y in zip(v,w)])**.5

In [6]:
ed(dt.iloc[0],tst)

1.3000000000000007

In [7]:
dt.apply(lambda row: ed(tst,row), axis=1)

0    1.300000
1    0.781025
2    0.500000
3    1.004988
dtype: float64

### Centroids

In [12]:
cs = dt[dt['class']=='Is'].iloc[:,:-1].mean()

In [13]:
cv = dt[dt['class']=='Iv'].iloc[:,:-1].mean()

In [15]:
ed(cs, tst)

0.9823441352194261

In [16]:
ed(cv, tst)

0.7516648189186453