In [1]:
import pandas as pd

In [2]:
dt = pd.DataFrame(
    [[4.6, 3.2, 'Is'],
     [5.3, 3.7, 'Is'],
     [6.4, 3.2, 'Iv'],
     [6.9, 3.1, 'Iv']],
    columns=['atr1', 'atr2', 'class'])
dt

   atr1  atr2 class
0   4.6   3.2    Is
1   5.3   3.7    Is
2   6.4   3.2    Iv
3   6.9   3.1    Iv

In [3]:
tst = [5.9, 3.2]

### P(y)

In [4]:
dt['class'].value_counts()

Iv    2
Is    2
Name: class, dtype: int64

### P(x=v|y)

In [5]:
dt.groupby(['class']).mean()

       atr1  atr2
class
Is     4.95  3.45
Iv     6.65  3.15

In [6]:
dt.groupby(['class']).std(ddof=0)

       atr1  atr2
class
Is     0.35  0.25
Iv     0.25  0.05

In [7]:
from math import exp, pi
g = lambda x, m, s: exp(-(x-m)**2/(2*s**2))/(2*pi*s**2)**.5

In [8]:
tst

[5.9, 3.2]

### P(Is|tst)

In [9]:
# P(Is) * P(atr1=5.9|Is) * P(atr2=3.2|Is)
0.5 * g(5.9, 4.95, 0.35) * g(3.2, 3.45, 0.25)

0.01386231556852681

### P(Iv|tst)

In [10]:
# P(Iv) * P(atr1=5.9|Iv) * P(atr2=3.2|Iv)
0.5 * g(5.9, 6.65, 0.25) * g(3.2, 3.15, 0.05)

0.04289510284782596

## Solution: Iv