In [1]:
import pandas as pd

In [2]:
dt = pd.DataFrame(
    [[4.6, 3.2, 'Is'],
     [5.3, 3.7, 'Is'],
     [6.4, 3.2, 'Iv'],
     [6.9, 3.1, 'Iv']],
    columns=['atr1', 'atr2', 'class'])
dt

   atr1  atr2 class
0   4.6   3.2    Is
1   5.3   3.7    Is
2   6.4   3.2    Iv
3   6.9   3.1    Iv

In [3]:
tst = [5.9, 3.2]