In [1]:
import pandas as pd

In [2]:
dt = pd.DataFrame(
    [[4.6, 3.2, 'Is'],
     [5.3, 3.7, 'Is'],
     [6.4, 3.2, 'Iv'],
     [6.9, 3.1, 'Iv']],
    columns=['atr1', 'atr2', 'class'])
dt

   atr1  atr2 class
0   4.6   3.2    Is
1   5.3   3.7    Is
2   6.4   3.2    Iv
3   6.9   3.1    Iv

In [3]:
tst = [5.9, 3.2]

In [4]:
cs = dt[dt['class']=='Is'].iloc[:,:-1].mean()
cs

atr1    4.95
atr2    3.45
dtype: float64

In [5]:
cv = dt[dt['class']=='Iv'].iloc[:,:-1].mean()
cv

atr1    6.65
atr2    3.15
dtype: float64

In [6]:
from numpy import dot, sign

### Model

In [8]:
w = cs - cv
w

atr1   -1.7
atr2    0.3
dtype: float64

In [9]:
b = (dot(cs,cs)-dot(cv,cv))/2
b

-8.870000000000008

### Test

In [10]:
sign(dot(w,tst)-b)

-1.0

In [11]:
abs(dot(w,tst)-b)

0.1999999999999993

Solution: Iv